.header__logo {
  background-image: url(../../../images/logos/logo-white.svg);
  background-repeat: no-repeat;
  display: block;
  width: 142px;
  height: 33px;
}

@media (max-width: 930px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media (max-width: 540px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    background-size: contain;
  }
}
