.popup__save-button {
  width: 100%;
  border: none;
  color: #fff;
  background: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-radius: 2px;
  min-height: 50px;
}

.popup__save-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media (max-width: 540px) {
  .popup__save-button {
    font-size: 14px;
    line-height: 17px;
  }
}
