.popup__input-error {
  margin-top: 5px;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  opacity: 0;
  height: 30px;
}

.popup__input-error:last-of-type {
  margin-bottom: 13px;
}

@media (max-width: 540px) {
  .popup__input-error:last-of-type {
    margin-bottom: 10px;
  }
}
