.profile__occupation {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 620px) {
  .profile__occupation {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 540px) {
  .profile__occupation {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
  }
}
