.card__like-button {
  background-image: url('../../../images/card__like-button.svg');
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  padding: 0;
  background-color: #fff;
  border: none;
  cursor: pointer;
  align-self: center;
}

.card__like-button:hover {
  opacity: 0.5;
}
