.card__delete-button {
  background-image: url('../../../images/card__delete-button.svg');
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card__delete-button:hover {
  opacity: 0.6;
}
